@import "../variables";

.SiteAnimationBlock {
    $sticky-height: calc(100 * var(--vh, 1vh) - #{$header-size});
    $sticky-min-height: 50rem;

    display: flex;
    width: 100%;
    height: calc(250 * var(--vh, 1vh));
    @media #{$media-disable-site-section-animation} {
        height: $sticky-height;
        min-height: $sticky-min-height;
    }

    @media #{$media-remake-site-section} {
        height: auto;
        min-height: 0;
    }

    &__sticky {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
        height: $sticky-height;

        position: sticky;
        top: 50%;
        transform: translateY(calc(-50% + #{$header-size} / 2));
        margin-top: calc(#{$sticky-height} / 2);
        margin-bottom: calc(-50 * var(--vh, 1vh) + #{$header-size});

        @media #{$media-disable-site-section-animation} {
            position: relative;
            top: 0;
            margin: 0;
            transform: none;
            min-height: $sticky-min-height;
        }

        @media #{$media-remake-site-section} {
            height: auto;
            min-height: 0;
            @include vertical-flex-padding;
            padding-bottom: 4rem;
        }
    }

    &__picture {
        display: flex;
        width: 25rem;
        height: auto;

        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%);

        @media #{$media-disable-site-section-animation}, #{$media-half-site-section} {
            @media (max-width: 1100px) {
                $scale-ratio: 0.9;
                transform: translate(-50%, -50%) scale($scale-ratio);
            }
            @media (max-width: 780px) {
                $scale-ratio: 0.75;
                transform: translate(-50%, -50%) scale($scale-ratio);
            }
        }

        @media #{$media-half-site-section} {
            @media (max-width: 1080px), (max-height: 740px) {
                $scale-ratio: 0.9;
                transform: translate(-50%, -50%) scale($scale-ratio);
            }
            @media (max-height: 690px) {
                $scale-ratio: 0.75;
                transform: translate(-50%, -50%) scale($scale-ratio);
            }
        }
    }
}