@import "../variables";

.SiteAnimationBlock {
    $sticky-height: calc(100 * var(--vh, 1vh) - #{$header-size});
    $sticky-min-height: 50rem;

    @media (max-width: 680px) {
        display: none; // TODO: vertical version
    }

    display: flex;
    width: 100%;
    height: calc(250 * var(--vh, 1vh));
    @media #{$media-disable-site-section-animation} {
        height: $sticky-height;
        min-height: $sticky-min-height;
    }

    &__sticky {
        display: block;
        width: 100%;
        height: $sticky-height;

        position: sticky;
        top: 50%;
        transform: translateY(calc(-50% + #{$header-size} / 2));
        margin-top: calc(#{$sticky-height} / 2);
        margin-bottom: calc(-50 * var(--vh, 1vh) + #{$header-size});

        @media #{$media-disable-site-section-animation} {
            position: relative;
            top: 0;
            margin: 0;
            transform: none;
            min-height: $sticky-min-height;
        }
    }

    &__picture {
        display: flex;
        width: 25rem;
        height: auto;

        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%);

        @mixin reduce-on-width($width, $scale-ratio) {
            @media #{$media-disable-site-section-animation} and (max-width: $width) {
                transform: translate(-50%, -50%) scale($scale-ratio);
            }
        }
        @include reduce-on-width(1100px, 0.9);
        @include reduce-on-width(780px, 0.75);
    }
}