@import "../variables";

.SiteTextBlock {
    // ------General------
    position: absolute;
    max-width: 22rem;
    color: #fff;
    text-align: center;

    transition: opacity $time-slow;

    &__title {
        font-size: 2.25rem;
        font-weight: $fw-bold;

        transition: transform $time-slow;
    }

    &__line {
        @include line(4rem, 0.35rem, $color-red);
        margin: 1rem auto;
        transition: transform $time-slow;
    }

    &__text {
        white-space: pre-line;

        transition: transform $time-slow;

        & a {
            color: #fff;

            &:visited {
                color: #fff;
            }
        }
    }

    // ------Align------
    &#SiteTextBlock1 {
        text-align: center;
    }

    &#SiteTextBlock1 &__line {
    }

    &#SiteTextBlock3,
    &#SiteTextBlock5,
    &#SiteTextBlock7 {
        text-align: right;
    }

    &#SiteTextBlock3 &__line,
    &#SiteTextBlock5 &__line,
    &#SiteTextBlock7 &__line {
        margin-right: 0;
    }

    &#SiteTextBlock2,
    &#SiteTextBlock4,
    &#SiteTextBlock6 {
        text-align: left;
    }

    &#SiteTextBlock2 &__line,
    &#SiteTextBlock4 &__line,
    &#SiteTextBlock6 &__line {
        margin-left: 0;
    }

    // ------Positioning------
    &#SiteTextBlock1 { // React
        top: 1.5rem;
        left: 50%;
        transform-origin: center;
        transform: translateX(-50%);
    }

    &#SiteTextBlock2 { // SVG
        top: 10.3rem;
        left: 5rem;
        transform-origin: left top;
    }

    &#SiteTextBlock3 { // SASS
        top: 12.5rem;
        right: 2rem;
        transform-origin: right top;
    }

    &#SiteTextBlock4 { // Figma
        top: 50%;
        left: 0;
        transform-origin: left;
        transform: translateY(-1.5rem);
    }

    &#SiteTextBlock5 { // Git & Github
        top: 50%;
        right: 0;
        transform-origin: right;
        transform: translateY(1rem);
    }

    &#SiteTextBlock6 { // i18next
        bottom: 3.5rem;
        left: 10rem;
        transform-origin: left bottom;
    }

    &#SiteTextBlock7 { // TypeScript
        bottom: 1.5rem;
        right: 17.6rem;
        transform-origin: right bottom;
    }

    // ------Adaptation------
    @media (max-width: 1000px) {
        &#SiteTextBlock2 { // SVG
            left: 2.5rem;
        }

        &#SiteTextBlock3 { // SASS
            right: 1.5rem;
        }

        &#SiteTextBlock6 { // i18next
            left: 8rem;
        }

        &#SiteTextBlock7 { // TypeScript
            right: 11rem;
        }
    }

    @include media-half-site-section {
        &#SiteTextBlock1 { // React
            top: 0.3rem;
        }

        &#SiteTextBlock4 { // Figma
            transform: translateY(calc(-50% - 6rem));
        }

        &#SiteTextBlock5 { // Git & Github
            transform: translateY(calc(-50% - 0.5rem));
        }

        &#SiteTextBlock7 { // TypeScript
            bottom: 0.6rem;
        }

        @media (max-width: 1080px), (max-height: 740px) {
            $scale-ratio: 0.9;
            transform: scale($scale-ratio);

            &#SiteTextBlock1 {
                transform: translateX(-50%) scale($scale-ratio);
            }
            &#SiteTextBlock4 {
                transform: translateY(calc(-50% - 6rem)) scale($scale-ratio);
            }
            &#SiteTextBlock5 {
                transform: translateY(calc(-50% - 0.5rem)) scale($scale-ratio);
            }
        }
    }

    @include media-disable-site-section-animation  {
        @media (max-width: 1100px) {
            $scale-ratio: 0.9;
            transform: scale($scale-ratio);

            &#SiteTextBlock1 {
                transform: translateX(-50%) scale($scale-ratio);
            }
            &#SiteTextBlock4 {
                transform: translateY(-1.5rem) scale($scale-ratio);
            }
            &#SiteTextBlock5 {
                transform: translateY(1.5rem) scale($scale-ratio);
            }
        }
    }

    @include media-remake-site-section {
        position: static;
        width: 100%;
        max-width: none;

        &:last-child {
            width: calc(50% - 1rem);
            grid-column-start: 1;
            grid-column-end: 3;

            @media (max-width: 590px) {
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }

        &#SiteTextBlock1,
        &#SiteTextBlock2,
        &#SiteTextBlock3,
        &#SiteTextBlock4,
        &#SiteTextBlock5,
        &#SiteTextBlock6,
        &#SiteTextBlock7 {
            transform: none;
            text-align: left;
        }

        &#SiteTextBlock1 &__line,
        &#SiteTextBlock2 &__line,
        &#SiteTextBlock3 &__line,
        &#SiteTextBlock4 &__line,
        &#SiteTextBlock5 &__line,
        &#SiteTextBlock6 &__line,
        &#SiteTextBlock7 &__line {
            margin-left: 0;
        }
    }
}

// ------react-transition-group------

.entering, .exiting, .exited {
    &.SiteTextBlock {
        opacity: 0;
    }

    & .SiteTextBlock__title {
        transform: scale(0.9);
    }

    &#SiteTextBlock1 .SiteTextBlock__line {
        transform: scale(0);
    }

    &#SiteTextBlock2 .SiteTextBlock__line,
    &#SiteTextBlock4 .SiteTextBlock__line,
    &#SiteTextBlock6 .SiteTextBlock__line {
        transform: scale(0) translateX(-100%);
    }

    &#SiteTextBlock3 .SiteTextBlock__line,
    &#SiteTextBlock5 .SiteTextBlock__line,
    &#SiteTextBlock7 .SiteTextBlock__line {
        transform: scale(0) translateX(100%);
    }

    & .SiteTextBlock__text {
        transform: translateY(30%);
    }
}