@import "../variables";

.SiteTextBlock {
    // ------General------
    position: absolute;
    max-width: 22rem;
    color: #fff;
    text-align: center;

    transition: opacity $time-slow;

    &__title {
        font-size: 2.25rem;
        font-weight: $fw-bold;

        transition: transform $time-slow;
    }

    &__line {
        @include line(4rem, 0.35rem, $color-red);
        margin: 1rem auto;
        transition: transform $time-slow;
    }

    &__text {
        white-space: pre-line;

        transition: transform $time-slow;

        & a {
            color: #fff;

            &:visited {
                color: #fff;
            }
        }
    }

    // ------Align------
    &#SiteTextBlock1 {
        text-align: center;
    }

    &#SiteTextBlock1 &__line {
        transform-origin: center;
    }

    &#SiteTextBlock3,
    &#SiteTextBlock5,
    &#SiteTextBlock7 {
        text-align: right;
        transform-origin: right;
    }

    &#SiteTextBlock3 &__line,
    &#SiteTextBlock5 &__line,
    &#SiteTextBlock7 &__line {
        margin-right: 0;
    }

    &#SiteTextBlock2,
    &#SiteTextBlock4,
    &#SiteTextBlock6 {
        text-align: left;
        transform-origin: left;
    }

    &#SiteTextBlock2 &__line,
    &#SiteTextBlock4 &__line,
    &#SiteTextBlock6 &__line {
        margin-left: 0;
    }

    // ------Positioning------
    &#SiteTextBlock1 { // React
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &#SiteTextBlock2 { // Figma
        top: 10.3rem;
        left: 5rem;
    }

    &#SiteTextBlock3 { // SASS
        top: 12.5rem;
        right: 2rem;
    }

    &#SiteTextBlock4 { // SVG
        top: 50%;
        left: 0;
        transform: translateY(-3rem);
    }

    &#SiteTextBlock5 { // Git & Github
        top: 50%;
        right: 0;
        transform: translateY(1rem);
    }

    &#SiteTextBlock6 { // NodeJS
        bottom: 3.5rem;
        left: 10rem;
    }

    &#SiteTextBlock7 { // TypeScript
        bottom: 1.5rem;
        right: 17.6rem;
    }

    // ------Adaptation------
    @mixin reduce-on-width($width, $scale-ratio) {
        @media #{$media-disable-site-section-animation} and (max-width: $width) {
            transform: scale($scale-ratio);

            &#SiteTextBlock1 {
                transform: translateX(-50%) scale($scale-ratio);
            }
            &#SiteTextBlock4 {
                transform: translateY(-3rem) scale($scale-ratio);
            }
            &#SiteTextBlock5 {
                transform: translateY(1rem) scale($scale-ratio);
            }
        }
    }
    @include reduce-on-width(1100px, 0.9);
    
    @media (max-width: 1000px) {
        &#SiteTextBlock2 { // Figma
            left: 3rem;
        }

        &#SiteTextBlock3 { // SASS
            right: 1.5rem;
        }

        &#SiteTextBlock6 { // NodeJS
            left: 8rem;
        }

        &#SiteTextBlock7 { // TypeScript
            right: 11rem;
        }
    }
}

// ------react-transition-group------

.entering, .exiting, .exited {
    &.SiteTextBlock {
        opacity: 0;
    }

    & .SiteTextBlock__title {
        transform: scale(0.9);
    }

    &#SiteTextBlock1 .SiteTextBlock__line {
        transform: scale(0);
    }

    &#SiteTextBlock2 .SiteTextBlock__line,
    &#SiteTextBlock4 .SiteTextBlock__line,
    &#SiteTextBlock6 .SiteTextBlock__line {
        transform: scale(0) translateX(-100%);
    }

    &#SiteTextBlock3 .SiteTextBlock__line,
    &#SiteTextBlock5 .SiteTextBlock__line,
    &#SiteTextBlock7 .SiteTextBlock__line {
        transform: scale(0) translateX(100%);
    }

    & .SiteTextBlock__text {
        transform: translateY(30%);
    }
}