@import "../variables";

.Works {
    &__body {
        display: flex;
        justify-content: space-around;
        gap: 3rem;
        flex-wrap: wrap;
    }
}

.Works-item {
    width: calc(50% - 1.5rem);
    max-width: 28rem;
    @media (max-width: 600px) {
        width: 100%;
    }

    &__picture {
        display: flex;
        margin: 0 auto 2rem;

        width: 100%;
        max-width: 20rem;
    }

    &__text {
        font-size: 2.25rem;
        font-weight: $fw-bold;
        color: $color-black;

        text-align: center;
    }
}