@import "variables";

.Media {
    display: flex;

    &__item {
        width: 3.6rem;
        height: 3.6rem;
        margin: 0 0.6rem;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;

        cursor: pointer;

        & img {
            width: 105%;
            height: auto;
        }

        @include scale-on-hover(1.2);
    }
}