@import "variables";

.SectionTitle {
    text-align: center;
    color: $color-black;

    &:after {
        @include line(5rem, 5px, $color-red);
        margin: 2rem auto 4rem;
    }

    &.dark {
        color: #fff;
        &:after {
            background-color: $color-blue;
        }
    }
}