@import "variables";

.SvgWithHover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;

    cursor: pointer;

    @include scale-on-hover(1.1);

    &__off-hover, &__on-hover {
        display: flex;
        width: 100%;
        transition: opacity $time-standard;
    }

    &__on-hover {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        opacity: 0;
    }

    @media (hover: hover){
        &:hover &__off-hover {
            opacity: 0;
        }

        &:hover &__on-hover {
            opacity: 1;
        }
    }
}