// ATTENTION!
// If you want to change this file, do not forget to make the same changes in variables.ts file

// Fonts
$font-main: 'Montserrat', sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-extra: 800;

// Sizes
$header-size: 6rem;

// Colors
$color-black: #333;
$color-grey: #999;
$color-red: #FE654F;
$color-blue: #4AD8F8;
$color-yellow: #FAF33E;
$color-green: #4FFE65;
$color-dark-white: #F7F7F7;

// Patterns
$gradient-red: linear-gradient(242.56deg, #FF715E 12.86%, #FF4646 87.14%);
$gradient-black: linear-gradient(242.56deg, #3D3D3D 12.86%, #333333 87.14%);
$shadow-picture: drop-shadow(-10px 10px 40px rgba(0, 0, 0, 0.2));
$shadow-block: 0 5px 10px rgba(0, 0, 0, 0.15);

// Timing
$time-fast: 0.1s;
$time-standard: 0.3s;
$time-slow: 1.2s;

// Media queries
$media-portrait: (orientation: portrait);
$media-landscape: (orientation: landscape);
$media-disable-active-animation: (prefers-reduced-motion: reduce), (hover: none);
$media-hide-intro-outer: (max-width: 1400px);
$media-container: (max-width: 1200px);
$media-vertical-grid: (max-width: 1000px);
$media-fsz14: (max-width: 900px);
$media-fsz13: (max-width: 820px);
$media-fsz12: (max-width: 720px);

// Mixins
@mixin scale-on-hover($scale-ratio) {
    will-change: transform;
    transform-origin: center center;
    transition: transform $time-standard;
    transform: scale(1);
    &:hover {
        transform: scale($scale-ratio);
    }
}

@mixin line($width, $height, $color) {
    display: block;
    content: "";
    width: $width;
    height: $height;
    border-radius: $height;
    background-color: $color;
}

@mixin my-button {
    font-family: $font-main;
    font-size: 1.5rem;
    font-weight: $fw-semi;
    color: $color-black;

    padding: 1.2rem 3.8rem;
    border-radius: 3.8rem;
    border: $color-yellow 0.2rem solid;
    background-color: $color-yellow;
    cursor: pointer;

    transition: background $time-standard, color $time-standard;
    &:hover {
        background-color: transparent;
        color: $color-yellow;
    }
}

@mixin flex-items-to-vertical {
    @media #{$media-vertical-grid} {
        width: 100%;
        margin-right: 10%;
        margin-left: 10%;
    }
    @media (max-width: 850px) {
        margin-right: 7%;
        margin-left: 7%;
    }
    @media (max-width: 640px) {
        margin-right: 5%;
        margin-left: 5%;
    }
    @media (max-width: 480px) {
        margin-right: 3%;
        margin-left: 3%;
    }
}