.IntroBackground {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & svg {
        overflow: visible;
        height: auto;
        position: absolute;
    }

    &__circle1 {
        width: 43.5rem;

        bottom: -19rem;
        right: -47rem;
    }

    &__circle2 {
        width: 37rem;

        bottom: -20rem;
        left: -43rem;
    }

    &__wave {
        width: 35rem;

        top: -27rem;
        right: -42rem;
    }

    &__dots {
        width: 13rem;

        top: 7rem;
        left: -19rem;
    }
}

