@import "../variables";

.IntroBlock {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: #fff;

    white-space: nowrap;

    &__title, &__subtitle, &__media {
        margin-bottom: 1rem;
    }

    @include media-container {
        @include media-portrait {
            white-space: normal;
            @media (min-width: 600px) {
                transform: scale(1.2);
            }
        }
    }
    @include media-portrait {
        @media (max-width: 350px) {
            transform: scale(0.85);
        }
    }

    @include media-landscape {
        @media (max-width: 790px) {
            transform-origin: left;
            transform: scale(0.9);
        }
    }
}