.IntroBackgroundOuter {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & svg {
        overflow: visible;
        position: absolute;
    }

    &__circle {
        width: 43.5rem;

        bottom: -19rem;
        right: -47rem;
    }

    &__dots {
        width: 13rem;

        top: 7rem;
        left: -19rem;
    }
}

