@import "../variables";

.IntroBackgroundInner {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    overflow: hidden;

    & svg {
        overflow: visible;
        position: absolute;
    }

    &__circle {
        width: 37rem;

        bottom: -20rem;
        left: -19rem;

        @media #{$media-hide-intro-outer} {
            bottom: -28rem;
        }
    }

    &__wave {
        width: 35rem;

        top: -27rem;
        right: -18rem;
    }
}