@import "../variables";

.IntroBlock {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    color: #fff;

    white-space: nowrap;

    @media #{$media-portrait} and #{$media-container} {
        white-space: normal;
    }

    @media #{$media-portrait} and #{$media-container} and (min-width: 600px) {
        transform: scale(1.2);
    }

    @media #{$media-portrait} and (max-width: 350px) {
        transform: scale(0.85);
    }
}