@import "../variables";

.SkillsItem {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;

    &:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    @media (max-width: 1000px) {
        margin-bottom: 3rem;
        &:nth-last-child(-n+2) {
            margin-bottom: 3rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include flex-items-to-vertical;

    @media (max-width: 300px) {
        margin: 0 0 2rem;
        &:nth-last-child(-n+2) {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
        transform: scale(0.95);
    }

    display: grid;
    grid-template-areas: "icon title" "icon text";
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    align-items: start;
    align-content: start;
    justify-content: start;

    &__icon {
        grid-area: icon;
        width: 6rem;
        height: auto;
    }

    &__title {
        grid-area: title;
        color: $color-black;
    }

    &__text {
        grid-area: text;
    }
}