@import "../variables";

.CustomScrollbarThumb {
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100vw;
    cursor: pointer;

    transition: background $time-standard;

    &:hover {
        background-color: rgba(0, 0, 0, 0.55);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.7);
    }
}