@import "src/styles/variables";

.AboutTextBlock {
    color: $color-black;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        &:after {
            @include line(5rem, 5px, $color-red);
            margin: 1rem 0;
        }
    }

    &__text {
        white-space: pre-line;
    }
}