@import "src/styles/variables";

.Logo{
    font-family: $font-main;
    font-weight: $fw-extra;
    font-size: 2.4rem;
    color: #fff;
    text-decoration: none;

    cursor: pointer;

    @include scale-on-hover(1.1);
}