@import "../variables";

.ContactForm{
    &__input{
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
        padding: 1rem;
        border: 2px solid $color-grey;
        border-radius: 0.5rem;

        font-family: $font-main;
        font-size: 1.5rem;
        color: $color-black;

        &::placeholder {
            color: $color-grey;
        }
    }

    &__button {
        @include my-button;
        margin-top: 2rem;

        &:hover {
            color: $color-black;
        }

        &:disabled {
            background-color: #ddd;
            border-color: #999;
        }
    }
}

.ContactForm__handler {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% -  0.5rem));
}