@import "../variables";

.SiteTextBlock {
    // ------General------
    position: absolute;
    max-width: 22rem;
    color: #fff;
    text-align: center;

    transition: all $time-slow;

    &__title {
        font-size: 2.25rem;
        font-weight: $fw-bold;

        transition: all $time-slow;
    }

    &__line {
        display: block;
        content: "";
        width: 4rem;
        height: 5px;
        border-radius: 5px;
        background-color: $color-red;
        margin: 1rem auto;

        transition: all $time-slow;
    }

    &__text {
        white-space: pre-line;

        transition: all $time-slow;
    }


    // ------Align------
    &#SiteTextBlock3 &__line,
    &#SiteTextBlock5 &__line,
    &#SiteTextBlock7 &__line {
        margin-right: 0;
    }

    &#SiteTextBlock3,
    &#SiteTextBlock5,
    &#SiteTextBlock7 {
        text-align: right;
    }

    &#SiteTextBlock2 &__line,
    &#SiteTextBlock4 &__line,
    &#SiteTextBlock6 &__line {
        margin-left: 0;
    }

    &#SiteTextBlock2,
    &#SiteTextBlock4,
    &#SiteTextBlock6 {
        text-align: left;
    }


    // ------Positioning------
    &#SiteTextBlock1 { // React
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &#SiteTextBlock2 { // Figma
        top: 10.3rem;
        left: 5rem;
    }

    &#SiteTextBlock3 { // SASS
        top: 12.5rem;
        right: 2rem;
    }

    &#SiteTextBlock4 { // SVG
        top: 50%;
        left: 0;
        transform: translateY(-3rem);
    }

    &#SiteTextBlock5 { // Git & Github
        top: 50%;
        right: 0;
        transform: translateY(1rem);
    }

    &#SiteTextBlock6 { // NodeJS
        bottom: 3.5rem;
        left: 10rem;
    }

    &#SiteTextBlock7 { // TypeScript
        bottom: 1.5rem;
        right: 17.6rem;
    }
}

// ------react-transition-group------

.entering, .exiting {
    &.SiteTextBlock {
        opacity: 0;
    }

    & .SiteTextBlock__title {
        transform: scale(0.9);
    }

    & .SiteTextBlock__line {
        transform: scale(0) translateX(-100%);
    }

    & .SiteTextBlock__text {
        transform: translateY(30%);
    }
}

