@import "../variables";

.Footer {
    display: block;
    width: 100%;
    overflow: hidden;

    &__background {
        $border-width: 0.35rem;

        display: block;
        width: calc(100% + #{$border-width});
        height: 100%;

        background: $gradient-red;
        background-size: 100vw calc(100 * var(--vh, 1vh));
        border-radius: 11rem 0 0 0;
        border: $border-width $color-black solid;
        border-right: 0;
        border-bottom: 0;

        transform: translateX(-$border-width);
    }

    &__text, &__phone {
        font-size: 1.6rem;
        font-weight: $fw-semi;
        color: #fff;
        text-align: right;

        @media #{$media-vertical-grid} {
            text-align: center;
        }
    }

    &__phone {
        display: block;
        text-decoration: none;
    }
}

.Footer-grid {
    width: 100%;
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    @media #{$media-vertical-grid} {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 2rem 0;
        gap: 1.5rem;
    }
    @media (max-width: 350px) {
        transform: scale(0.85);
        padding: 1.7rem 0;
    }
    &__item {
        &:first-child {
            order: 0;
            justify-self: start;

            @media #{$media-vertical-grid} {
                justify-self: center;
                order: 2;
            }
        }

        order: 1;
        @media #{$media-vertical-grid} {
            order: 0;
        }

        &:last-child {
            order: 2;
            justify-self: end;

            @media #{$media-vertical-grid} {
                justify-self: center;
                order: 1;
            }
        }
    }
}