@import "../variables";

.Header {
    &._fixed, &._preFixed, &._postFixed {
        position: fixed;
        background-color: $color-black;
        box-shadow: $shadow-block;
    }

    &._preFixed {
        transform: translateY(-100%);
    }

    &._fixed {
        transition: transform $time-standard;
        transform: translateY(0);
    }

    &._postFixed {
        transition: transform $time-standard;
        transform: translateY(-100%);
    }
}