.LanguagesButton {
    display: flex;
    align-items: center;
    width: 1.5rem;
    cursor: pointer;

    & svg {
        width: 100%;
        height: auto;
    }

    @media (max-width: 650px) {
        width: 1.9rem;
    }
}