@import "../variables";

.Navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item {
        margin: 0 2.5rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 770px) {
        &__item {
            margin: 0 2rem;
        }
    }
    @media (max-width: 670px) {
        &__item {
            margin: 0 1.75rem;
        }
    }
}