@import "../variables";

.Navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5rem;

    @media (max-width: 770px) {
        gap: 4rem;
    }
    @media (max-width: 670px) {
        gap: 3.5rem;
    }
}