@import "src/styles/variables";

.About {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__photo {
        width: calc(50% - 1rem);
        height: auto;
        filter: $shadow-picture;
    }

    &__text-blocks {
        width: calc(50% - 1rem);
    }
}