@import "variables";

.About {
    margin: 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__photo {
        width: calc(50% - 1rem);
        height: auto;
        filter: $shadow;
    }

    &__text-blocks {
        width: calc(50% - 1rem);
    }
}