@import "variables";

.IntroPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    &__picture {
        width: 100%;
        height: auto;
        z-index: 100;
        filter: $shadow;
    }

    &__border {
        width: 100%;
        height: auto;
        position: absolute;
        overflow: visible;
        z-index: 150;
    }

    &__wave{
        position: absolute;
        z-index: 1;

        display: block;
        width: 33rem;
        height: auto;

        top: -4rem;
        left: -16rem;
    }
}