@import "variables";

.Intro {
    background: $gradient-red;
    width: 100vw;
    height: 100vh;

    &__inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}