@import "variables";

.Media {
    display: flex;
    gap: 1.2rem;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        overflow: hidden;

        cursor: pointer;

        & img {
            width: 105%;
            height: auto;
        }

        @include scale-on-hover(1.2);
    }
}