@import "variables";

.NavigationItem {

    margin-right: 5rem;
    &:last-child {
        margin-right: 0;
    }

    font-family: $font-main;
    font-weight: $fw-regular;
    font-size: 1.5rem;
    color: #fff;

    & svg {
        width: 1.5rem;
    }
}