@import "variables";

.SectionTitle {
    text-align: center;
    color: $color-black;

    &:after {
        display: block;
        content: "";
        width: 5rem;
        height: 5px;
        margin: 2rem auto 4rem;
        background-color: $color-red;
        border-radius: 5px;
    }

    &.dark {
        color: #fff;
        &:after {
            background-color: $color-blue;
        }
    }
}