// Fonts
$font-main: 'Montserrat', sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-extra: 800;

// Colors
$color-black: #333;
$color-red: #FE654F;
$color-blue: #4AD8F8;
$color-yellow: #FAF33E;

// Patterns
$gradient-red: linear-gradient(242.56deg, #FF715E 12.86%, #FF4646 87.14%);
$gradient-black: linear-gradient(242.56deg, #3D3D3D 12.86%, #333333 87.14%);
$shadow: drop-shadow(-10px 10px 40px rgba(0, 0, 0, 0.2));

// Timing
$time-fast: .1s;
$time-standard: .3s;