@import "../variables";

.ContactForm{
    &__input, &__textarea{
        width: 100%;
        height: auto;
        padding: 1rem;
        border: 2px solid $color-grey;
        border-radius: 0.5rem;
        margin-bottom: 2rem;

        font-family: $font-main;
        font-size: 1.5rem;
        color: $color-black;

        &::placeholder {
            color: $color-grey;
        }
    }

    &__textarea {
        resize: none;
    }

    &__button {
        @include my-button;
        &:hover {
            color: $color-black;
        }

        &:disabled {
            background-color: #ddd;
            border-color: #999;
        }
    }

    &__loader {
        display: block;
        width: 5rem;
        height: 5rem;
        margin: 15.6rem auto;

        &:after {
            content: " ";
            display: block;
            width: 4rem;
            height: 4rem;
            margin: 0.5rem;
            border-radius: 50%;
            border: 0.35rem solid;
            border-color: $color-black transparent $color-black transparent;
            animation: rotation $time-slow linear infinite;
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}